<div class="container mt-5">
    <div class="display-4 text-center mb-3 mt-5"><a href="/" class="text-body title">SC2.N1.GG</a></div>
    {% include 'search_player.html.twig' with {'id': 'header', 'players': null, "search_button": true} %}
</div>
