{% extends 'base.html.twig' %}
{% import 'flags.html.twig' as flags %}
{% block title %}sc2.n1.gg{% endblock %}
{% block body %}
<div class="page-container h-100">
    <div class="d-flex h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-8 p-0">
            {% include 'header.html.twig' %}
        </div>
    </div>
    {% include 'footer.html.twig' %}
</div>
{% endblock %}
